/* 전체 컨테이너 레이아웃 */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f7f7f7;
}

/* Toolbar 스타일링 */
.toolbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  height: 72px;
}

.backButton {
  width: 24px; /* 이미지 크기 조절 */
  height: 24px;
}

/* Profile Layout */
.profileLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 37px 0;
  background-color: #fff;
}

.profileImage {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-top: 36px;
}

.userName {
  margin-top: 35px;
  font-size: 24px;
  text-align: center;
}

/* Profile Check Layout */
.profileCheckLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  background-color: #fff;
  margin-top: 10px;
}

.checkProfileText {
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  user-select: none;
}

.enterButton {
  width: 24px; /* 이미지 크기 조절 */
  height: 24px;
}

/* Log Out Layout */
.logOutLayout {
  display: flex;
  align-items: center;
  padding: 13px 20px;
  background-color: #fff;
  font-family: NotoSansKR-SemiBold;
  margin-top: 10px;
}

.logOutText {
  font-size: 20px;
  font-family: NotoSansKR-SemiBold;
  color: #ff4848;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  user-select: none;
}

/* Withdrawal Layout */
.withdrawalLayout {
  display: flex;
  align-items: center;
  padding: 13px 20px;
  background-color: #fff;
  margin-top: 10px;
}

.withdrawalText {
  font-size: 20px;
  color: #ff4848;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  user-select: none;
}
